body{
    background-color: #212121; 
    background-image: url(logo3.png); 
    background-repeat: no-repeat;
    background-position: center;
    
}
.mainHeading{
    color: #FAFAFA;
    position: absolute;
    top: 220px;
    left: 570px;
    text-align: center;
    font-family: fantasy;
    font-size: 300%;
    font-weight: bolder;
}
.mainHeading a{
    font-family: monospace;
    position: absolute;
    top:175px;
    left: 50px;
    font-size: 18px;
}